#header {
  position: fixed;
  top:0;
  height: 50px;
  width: 100%;

  
  /* z-index: 1000; */
  
  background-color: palegreen;
  
}


#header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 20px;
}