*, *::before, *::after{
  box-sizing: border-box;
}

body {
  background-color: #143F68;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  justify-content: center;
}


.parent{
  display: flex;
  justify-content: space-around;
  align-items: stretch;


}
.front-panel{
  border: 3px solid orange;
  
}
.container-left{
  
  background: #efefef;
  border: 10px solid rgb(99, 126, 99);
}

.container-right{
  display: flex;
  
  border: 10px solid rgb(71, 71, 71);
}

.sub-container{
  height: 100%;
  width: 100px;
  border: 2px solid rgb(0, 255, 60);
  flex-direction: row;
}

#cursor-container{
  


}

#up-button{
  

}

#right-button{

}

#down-button{

}

#left-button{

}


.button{

}

.bigger-button{

}

#numpad{


}

.piano{
  display: flex;
}

.key{
  height: calc(var(--width)*4);
  width: var(--width);
}

.white{
  --width: 100px;
  background-color: white;
  border: 1px solid #333;

}

.black{
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  
}