



/*buttons*/





.container-right{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 10px;
  border: 10px solid rgb(71, 71, 71);
}



.jog-wheel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid rgb(0, 255, 60);
}



