



/*buttons*/


.button{
  min-height: 10px;
  min-width: 60px;
}


.container-right{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 10px;
  border: 10px solid rgb(71, 71, 71);
}

.cursor-container {
  border: 2px solid rgb(0, 255, 60);
}

#up-button, #down-button {
}

#left-button, #right-button {

}

.jog-wheel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid rgb(0, 255, 60);
}



/*cursors*/

#up-button{
}

#right-button{
}

#down-button{
}

#left-button{
}

/*plus-minus*/



.bigger-button{
}

#numpad{
}
/*piano css*/
